<div class="row justify-content-center">
    <div class="col-6">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
            <h2 id="jhi-record-heading" jhiTranslate="kaylenewifiApp.record.home.createOrEditLabel">Create or edit a
                Record</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <!-- <div class="form-group" [hidden]="!record.id">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id"
                        [(ngModel)]="record.id" readonly />
                </div> -->

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="kaylenewifiApp.record.event" for="field_event">Event</label>
                    <select class="form-control" id="field_event" name="event" [(ngModel)]="record.event" required>
                        <option *ngIf="!editForm.value.event" [ngValue]="null" selected></option>
                        <option [ngValue]="eventOption.id === record.event?.id ? record.event : eventOption" *ngFor="let eventOption of events; trackBy: trackEventById">{{eventOption.name}}</option>
                    </select>
                </div>
                <div [hidden]="!(editForm.controls.event?.dirty && editForm.controls.event?.invalid)">
                    <small class="form-text text-danger" [hidden]="!editForm.controls.event?.errors?.required"
                        jhiTranslate="entity.validation.required">
                        This field is required.
                    </small>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="kaylenewifiApp.record.phone" for="field_phone">Phone</label>
                    <input type="text" class="form-control" name="phone" id="field_phone" [(ngModel)]="record.phone"
                        #phoneInput="ngModel" required minlength="9" maxlength="9" pattern="[0-9]+">
                    <div [hidden]="!(editForm.controls.phone?.dirty && editForm.controls.phone?.invalid)">
                        <small class="form-text text-danger" [hidden]="!editForm.controls.phone?.errors?.required"
                            jhiTranslate="entity.validation.required">
                            This field is required.
                        </small>
                        <small class="form-text text-danger" [hidden]="!editForm.controls.phone?.errors?.pattern"
                            jhiTranslate="entity.validation.codepattern">
                            This field can only number.
                        </small>
                        <small class="form-text text-danger" [hidden]="!editForm.controls.phone?.errors?.maxlength"
                            jhiTranslate="entity.validation.length" translateValues="{length: 9}">
                            numéro à 9 caractère
                        </small>
                        <small class="form-text text-danger" [hidden]="!editForm.controls.phone?.errors?.minlength"
                            jhiTranslate="entity.validation.length" translateValues="{length: 9}">
                            numéro à 9 caractère
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="kaylenewifiApp.record.code" for="field_code">Code</label>
                    <input type="text" class="form-control" name="code" id="field_code" [(ngModel)]="record.code"
                        required />
                    <div [hidden]="!(editForm.controls.code?.dirty && editForm.controls.code?.invalid)">
                        <small class="form-text text-danger" [hidden]="!editForm.controls.code?.errors?.required"
                            jhiTranslate="entity.validation.required">
                            This field is required.
                        </small>
                    </div>
                </div>


            </div>
            <div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="kaylenewifiApp.record.firstName" for="field_firstName">First
                        Name</label>
                    <input type="text" class="form-control" name="firstName" id="field_firstName" [(ngModel)]="record.firstName" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="kaylenewifiApp.record.lastName" for="field_name">Name</label>
                    <input type="text" class="form-control" name="name" id="field_name" [(ngModel)]="record.lastName" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="kaylenewifiApp.record.address" for="field_address">Address</label>
                    <input type="text" class="form-control" name="address" id="field_address" [(ngModel)]="record.address" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="kaylenewifiApp.record.email" for="field_email">Email</label>
                    <input type="text" class="form-control" name="email" id="field_email" [(ngModel)]="record.email" />
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
